a {
  color: #437e9b;
}
a:hover {
  color: #47B5FF;
}
h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h2 {
  font-size: 17px;
  line-height: 17px;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-weight: 600;
  color: #4c3b3a;
}
h5 {
  font-size: 1.2em;
  color: #670000;
  margin: 1em 0 0 0.35em;
  font-style: italic;
}
h5 + h6 {
  margin-top: 0.5em;
}
h6 {
  font-size: 1.3em;
  margin: 1.3em 0 0.5em 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .navbar > ul {
    display: inline;
    float: none;
  }
  .navbar > ul a {
    font-size: 1.2em;
  }
}
span.author {
  font-size: 0.65em;
  display: block;
  padding: 0.25em 0 0.75em;
}
.text-center img {
  padding-top: 1.5em;
  max-height: 20em;
}
.bookplate {
  margin: 0.75em 1em;
}
.bookplate img {
  max-height: 10em;
  margin-bottom: 0.5em;
  display: block;
}
dl {
  font-size: 1.1em;
  padding-top: 1em;
  color: #5F574F;
}
dl dt,
dl dd {
  line-height: 2em;
}
.holdings-cover {
  padding-left: 0;
  padding-bottom: 1em;
}
.holdings-availpanel {
  padding: 1.5em;
}
.holdings-availpanel .availpanel-heading {
  font-size: 1.5em;
  font-weight: 600;
}
.holdings-availpanel .availpanel-heading.yes {
  color: #616530;
}
.holdings-availpanel .availpanel-heading.no {
  color: #7c0000;
}
.holdings-availpanel .label {
  color: #5F574F;
  font-size: 1.5em;
  font-weight: 300;
  float: left;
  padding: 0;
  margin: 0.5em 1.5em 0.5em 0;
}
.holdings-availpanel .label .value {
  font-weight: 600;
}
.includes {
  font-style: italic;
}
.btn-request {
  background-color: #e7e8d9;
  border-color: #ddd;
  margin: 1em 0;
}
.btn-request + .btn-request {
  margin-left: 1em;
}
.btn-browse {
  background-color: #e7e8d9;
  border-color: #ddd;
  margin: 1em 0;
  background-color: #e3dfd5;
}
.btn-browse + .btn-browse {
  margin-left: 1em;
}
.holdings-locpanel {
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
.holdings-locpanel .locpanel-heading {
  background: #d0d2b4;
  padding: 0.05em 1em;
  margin-bottom: 0;
}
.holdings-locpanel .locpanel-heading h2 {
  display: inline-block;
}
.holdings-locpanel .locpanel-heading h3 {
  font-size: 1.15em;
  margin: 0 0 0.5em!important;
  display: inline-block !important;
}
.holdings-locpanel .locpanel-heading a {
  color: #155f83;
  text-decoration: underline;
  margin-left: 0.75em;
}
.holdings-locpanel .locpanel-heading.online {
  background-color: #d9e7e8;
}
.holdings-unit {
  padding: 0em 1em 1em;
  border-bottom: none;
  border-top: 1px dashed #ddd;
}
.holdings-unit:nth-child(even) {
  background: none;
}
.holdings-unit .btn-info {
  font-size: 0.75em;
  padding: 6px;
  margin-bottom: 0.75em;
  margin-left: 0.5em;
}
.dl-horizontal dt {
  width: 150px;
}
.dl-horizontal dd {
  margin-left: 160px;
}
.notes,
.location-change {
  display: block;
}
.loan-period {
  margin-left: 2em;
  color: #000;
}
.text-success,
.text-danger {
  font-size: 1.1em;
  padding-right: 1.2em;
  display: block;
}
.text-unknown {
  color: #b77512;
  font-size: 1.1em;
  display: block;
}
.item-loc {
  display: block;
  font-style: italic;
  line-height: 2em;
}
.location-change {
  color: maroon;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
a.location-maplink {
  text-decoration: underline;
  margin-left: 1em;
}
a.location-maplink:after {
  content: none;
}
.holdings-notes {
  text-decoration: italic;
  margin: 0.75em 0.5em 0.5em;
}
a.summaryToggle {
  font-size: 1.05em;
  margin-top: 0.25em;
}
a.itemsToggle {
  font-size: 1em;
}
a.eLink {
  font-size: 1.2em;
  padding-top: 7px;
  display: block;
}
.explore-list {
  padding-left: 0;
  list-style: none;
}
.explore-list li {
  margin: 0.7em 0;
}
.explore-list li:first-child {
  margin-top: 0;
}
a.service.external,
a.service {
  padding-right: 15px;
  white-space: nowrap;
  margin: 0;
}
a.bibToggle {
  margin-top: 0;
}
.template-name-view span {
  font-weight: inherit;
}
/***** TABLES ******/
table {
  background: transparent;
  width: 100%;
  padding: 1em 0 0;
  line-height: 1.5em;
  table-layout: auto !important;
  word-wrap: normal;
}
table thead h6 {
  margin-top: 0;
}
table .notes {
  font-style: italic;
}
table th {
  padding-left: 1em;
  padding-bottom: 0.3em;
  width: 155px;
}
table tr {
  line-height: 1.5em;
}
table tr[typeof="Offer"] th {
  width: 10%;
  white-space: nowrap;
}
table tr[typeof="Offer"]:nth-child(even) {
  background-color: #eee;
}
table td {
  padding: 0.8em;
}
table td:last-child {
  vertical-align: top;
}
table + table {
  border-top: 1px solid #ddd;
}
table + table th {
  padding-top: 1em!important;
}
table .call-header {
  border-bottom: 1px solid #ddd;
}
table.holdins-unit tr.section div {
  line-height: 1.55em;
}
.libraryhas {
  margin: 1em auto;
  padding-bottom: 0;
  background-color: #f3f3ec;
  border: 1px solid #dbddc7;
}
.libraryhas ul {
  list-style: none;
  list-style-type: none;
  padding-left: 1em;
  text-indent: -1em;
}
.libraryhas h5 {
  padding-left: 0.75em;
}
.libraryhas h6 {
  font-size: 1.1em;
  border-bottom: 1px solid #642822;
  margin-top: 0.25em;
}
#holdings-tab table tr {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#holdings-tab table th,
#holdings-tab table td {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 544px) {
  #holdings-tab table th,
  #holdings-tab table td {
    padding-top: 0.45em;
    padding-bottom: 0.45em;
  }
}
.holdings-table tbody > tr > th {
  border-top: none;
}
@media (min-width: 544px) {
  .holdings-table tbody > tr > th {
    padding-left: 1.5em;
  }
}
table.holdings-table + table.holdings-table thead > tr > th {
  padding-top: 2em!important;
}
.table > tbody > tr > td {
  border-top: none;
}
/* responsive table */
@media screen and (max-width: 480px) {
  table,
  tbody {
    display: block;
    width: 100%;
  }
  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
    width: 100%;
  }
  tr[typeof="Offer"] th,
  #holdings-tab .holdings-table th,
  div[resource="#record"] .table > tbody > tr > th,
  div[resource="#record"] .table > tbody > tr > td {
    width: 100%;
    max-width: 100%;
  }
}

