@import "bootstrap";
@import "variables";

.container {
    background: rgb(255, 255, 255);
    @media (max-width: @screen-sm) {
        background:@body-bg;
    }
}

.bulkActionButtons {
    border-top:    1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

/*General header*/
.navbar-brand {
    font-family: @headings-font-family;
    font-weight: normal;
    @media (min-width: @screen-sm) {
        background: transparent url(../../images/ucl_catalog_logo.png) 0 0 no-repeat;
        margin: 0;
        height: 86px;
        overflow: hidden;
        text-indent: -9999px;
        width: 433px;
    }
}

.tagline {
    font-family: @tagline;
}

.navbar-header {
    float:none;
}

.navbar {
    background-color:@maroon;
    border-top:7px solid @dark-maroon;
    border-radius: 0;
    color:#fff;
}

.navbar a {
    color:@light-link;
}

.navbar li {
    list-style:none;
    display:inline;
}

.navbar > ul {
    display:inline;
    float:right;
    background:@dark-maroon;
    padding:0 8px 5px 8px;
    @media (max-width: @screen-sm) {
        display:none;
    }
}

.navbar > ul > li {
    padding:5px 0;
    font-size:@tiny;
}

.navbar > ul > li:first-child {
    padding-left:5px;
}

.navbar > ul > li:last-child {
    padding-right:5px;
}

.navbar > ul > li:after {
    content:"\00a0\00a0|\00a0\00a0";
}

.navbar > ul > li:last-child:after {
    content:" ";//necessary
}

.container { /*box-shadow, seeps through, can't be used :-(*/
    /*@media (min-width: @screen-sm) { 
        box-shadow:0 4px 8px #111;
        box-shadow:0px 2px 16px rgba(0,0,0,.15);
    }*/
}

body > .main > .container {
    @media (min-width: @container-desktop) { 
       padding-top: 10px; 
    }   
    @media (min-width: @screen-lg) { 
       padding-top: 75px; 
    }
}

.breadcrumb {
    display:none;
}

/*Dark maroon top nav*/
#header-collapse {
    background:@dark-maroon;
    @media (min-width: @screen-sm) {
        margin: 0 -15px 0 -15px;
    }
}
.navbar-nav > li > a { 
    padding: 5px 15px 10px 15px;
}

/*Grey search bar*/
body > header > .container > section.visible-lg,
.nav.searchbox.hidden-lg {
    @media (min-width: @screen-sm) {
        #gradient.vertical(#7b7b7b, #666, 0, 100%);
        border-radius: 0;
        border:none;
    }
}
body > header > .container > section.visible-lg { //Fullscreen
    position:absolute;
    margin: 31px 0 0 -16px;
    padding: 6px 0;
    width:1170px;
}

.nav.searchbox.hidden-lg {
    position:relative;
    top:-3px;
    @media (min-width: @screen-sm) {
        margin:0 -15px;
        padding: 4px 0;
    }
}
.visible-lg > .navbar-left {
    float:none !important;
}

/*Forms*/
#searchForm .form_control {
    width:200px;
}

#searchForm a.btn {
    color:@light-link;
    font-size:@tiny;
    text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);
    @media (max-width: @screen-sm) {
        display:none;
    }
}
#searchForm .twitter-typeahead,
#searchForm_type.form-control {
    margin-right:15px;
    @media (max-width: @screen-sm) {
        margin:0 0 10px 0; 
    }
}
#searchForm_lookfor.form-control {
    @media (min-width: @container-desktop) {
        width:250px;
    }
}
.form-vertical .form-control {
    max-width: 100%;
}

.modal-body.in[style="padding-right: 0px;"] { /*Put "padding" back that twitter bootstrap removes via inline styles (bugfix for modal windows)*/
    margin-right: @modal-inner-padding;
}
.modal-body.in[style="padding-left: 0px;"] { /*Put "padding" back that twitter bootstrap removes via inline styles (bugfix for modal windows)*/
    margin-left: @modal-inner-padding;
}

/*Footer*/
footer .container {
    background:@dark-maroon;
    padding-top:@grid-gutter-width / 1.5; 
    padding-bottom:@grid-gutter-width / 1.5;
}

footer hr {
    display:none;
}

footer a,
footer a:hover,
footer a:focus {
    color:@light-link;
}

#uc_logo {
    background:url("../../images/uc_logo.png") no-repeat scroll left center transparent;
    width:141px;
    height:30px;
}

#uc_logo a {
    display: block;
    width: 141px;
    height: 30px;
    overflow:hidden;
    text-indent: 100%;
    white-space: nowrap;
}

footer .text-right {
    color:@light-link;
}

// Buttons
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: @light-link;
    background-color: @dark-maroon;
    *background-color: #4a0000;
    border-color:@dark-maroon;
    background-image:none;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #300000 \9;
    background-image:none;
}

.btn-primary {
    #gradient.vertical(@maroon, @dark-maroon);
    @media (max-width: @screen-sm) {
        #gradient.vertical(lighten(@gray-lighter, 5%), lighten(@gray-light, 10%));
        border:1px solid lighten(@gray-light, 5%);
        color:@gray-dark;
    }
}
.btn-primary:hover, 
.btn-primary:active {    
    @media (max-width: @screen-sm) {
        #gradient.vertical(lighten(@gray-lighter, 0%), lighten(@gray-light, 5%));
        border:1px solid lighten(@gray-light, 10%);
        color:@gray-dark;
    }
}
#searchForm > .btn {
    @media (max-width: @screen-sm) {
        width:100%;
    }
}

/* Typeogrophy*/
.text-shadow (@string: 1px 1px 1px rgba(0, 0, 0, 0.1)) {
    text-shadow: @string;
}
h1 {
    .text-shadow();
}

/* Tables */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-top: 1px dashed @table-border-color;
      }
    }
  }
  // Field labels
  > tbody {
    > tr {
      > th {
        color: #666;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  // Nesting
  .table {
    background-color: @body-bg;
  }
}

// Full Record 
div[resource="#record"] .table {
  width: auto;
  max-width: auto;
  > tbody {
    > tr {
      > th {
        width:@record-th-width;
        max-width:@record-th-width;
      }    
    }
    > tr {
      > td {
        width: 100% - @record-th-width;
        max-width: 100% - @record-th-width;
      }
    }   
  }  
} 

.table > tbody > tr:first-child > td {
    border-top:none;
}
/*Top of full record*/
div[resource="#record"] .table > tbody > tr:first-child > td {
    padding-bottom:0;
    padding-top:0;
}

/* Sidebar */
.bookplate {
    margin-top:25px;
}
.bookplate:first-child {
    margin-top: 0;
}
#bookplates {
    margin-bottom:25px;
}
.bookplateTitle {
    line-height:normal;
    margin-top:5px;
}
.sidebar {
    margin-top:14px;
}

/* Full Record */
.recordcover {
    margin-top:47px;
}
#record-tabs h3 {
    display: inline;
}
.maplink,
.ablink {
    font-size: ceil((@font-size-base * 0.88)); // ~10.5px
}
#holdings-tab h3 {
    margin-bottom: 0;
}
#holdings-tab table {
    margin: 0;
    background: transparent;    
}
#holdings-tab table th,
#holdings-tab table tr,
#holdings-tab table td {
    border: none;
}
#holdings-tab table th {
    padding-right: 15px;
    text-align: right;
}
#holdings-tab table tr,
#holdings-tab table td {
    padding: 3px 0; 
}
#record-tabs > div {
    margin-top: 10px;
}
.holdings-unit {
    padding: 20px 10px 20px 10px;
    line-height: 15px;
    border-bottom:1px dashed @table-border-color;
}
.holdings-unit:nth-child(even) {
    background:@table-bg;
}
.service {
    margin: 0 10px;
}
.main .nav {
    border-top:1px dashed @table-border-color;
    border-bottom:1px dashed @table-border-color;
}

/*Results*/
.result:nth-child(even) {
    background:@table-bg;
}
.result {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*MyResearch*/
.template-dir-myresearch.template-name-checkedout .table tr > th:first-child {
    width: 5.5%;
}
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(2),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(4),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(5),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(6),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(7) {
    width: 11%;
}

.template-dir-myresearch.template-name-profile .table tr > th:first-child {
    width:22%;
}


