@import "bootstrap";
@import "variables";

/*Variables and mixins*/
.tiny-text-shadow {
    text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);
}
.text-shadow (@string: 1px 1px 1px rgba(0, 0, 0, 0.1)) {
    text-shadow: @string;
}
.red {
    color: @red;
}
.gray {
    color: lighten(@gray-base, 55%); // #8c8c8c
}
.highlight {
    background: transparent;
    padding: 0;
}
a.disabled {
    color: inherit;
    cursor: auto;
    outline: none;
    text-decoration: none;
}

/*General*/
.container {
    background: rgb(255, 255, 255);
    @media (max-width: @screen-xs-max) {
        background:@body-bg;
    }
}
.main > .container {
    padding-bottom: @container-padding-btm;
}

a[href^="http"]:after {
    font-family: FontAwesome;
    content:" \f08e";
}
.openurls strong a:after,
.bookplate a:after,
a.service:after,
.top-tabs a:after,
a.report-a-record:after,
.col-sm-2.col-xs-0.left a:after { //book covers in results view
    content:"";
}


/*General header*/
.navbar-brand {
    font-family: @headings-font-family;
    font-weight: normal;
    @media (min-width: @screen-sm) {
        background: transparent url(../../images/ucl_catalog_logo.png) 0 0 no-repeat;
        margin: 0;
        height: 86px;
        overflow: hidden;
        text-indent: -9999px;
        width: 433px;
    }
}
header {
    .navbar-right {
        margin-top: 0;
    }
}
.search-controls { 
    > .col-sm-6.text-right {
        padding-left: 0;
    }
}

/*Hamburger menu*/
.navbar-toggle {
    background:@brand-primary-dark;
    padding: 6px 10px;
    i.fa-bars {
        color: @light-link;
    }
}

.tagline {
    font-family: @tagline;
}

.navbar-header {
    float:none;
}

.navbar {
    background-color:@brand-primary;
    border-top:7px solid @brand-primary-dark;
    border-radius: 0;
}

.navbar a,
header > .navbar li,
.nav #searchForm a,
.mini-search a.btn-link {
    color:@light-link;
}

.navbar li {
    list-style:none;
    display:inline;
}

.navbar > ul {
    display:inline;
    float:right;
    background:@brand-primary-dark;
    padding:0 8px 5px 8px;
    @media (max-width: @screen-xs-max) {
        display:none;
    }
}

.navbar > ul > li {
    padding:5px 0;
    font-size:@tiny;
}

.navbar > ul > li:first-child {
    padding-left:5px;
}

.navbar > ul > li:last-child {
    padding-right:5px;
}

.navbar > ul > li:after {
    content:"\00a0\00a0|\00a0\00a0";
}

.navbar > ul > li:last-child:after {
    content:" ";//necessary
}

.nav {
    margin-bottom: 0;
}

.container { /*box-shadow, seeps through, can't be used :-(*/
    /*@media (min-width: @screen-sm) { 
        box-shadow:0 4px 8px #111;
        box-shadow:0px 2px 16px rgba(0,0,0,.15);
    }*/
}

body { 
    > .main { 
        > .container {
            padding-top: 10px;
            @media (min-width: @screen-md) { 
               padding-top: 10px; 
            }
            @media (min-width: @screen-lg) { 
               padding-top: 71px; 
            }
        }
    }
    > .main.template-name-advanced {
        > .container {
            padding-top: 30px;
            @media (min-width: @screen-sm) { 
               padding-top: 50px; 
            }
            @media (min-width: @screen-lg) { 
               padding-top: 71px; 
            }
        }
    }
}

.breadcrumb {
    display:none;
}

/*Dark maroon top nav*/
#header-collapse {
    background:@brand-primary-dark;
    @media (min-width: @screen-sm) {
        margin: 0 -15px 0 -15px;
    }
}
.navbar-nav > li > a { 
    padding: 5px 15px 10px 15px;
}

/*Gray search bar*/
body > header > .container > section.visible-lg,
.nav.searchbox.hidden-lg {
    @media (min-width: @screen-sm) {
        #gradient.vertical(#7b7b7b, #666, 0, 100%);
        border-radius: 0;
        border:none;
    }
}
body > header > .container > section.visible-lg { //Fullscreen
    position:absolute;
    margin: 29px 0 0 -16px;
    padding: 6px 0;
    width:1170px;
    z-index: 1;
}

.nav.searchbox.hidden-lg {
    position:relative;
    top:-3px;
    @media (min-width: @screen-sm) {
        margin:0 -15px;
    }
}
.visible-lg > .navbar-left {
    float:none !important;
}
div#searchForm {
    padding-right: @grid-gutter-width / 1.5;
    padding-left: @grid-gutter-width / 1.5;
    padding-top: 2px;
    padding-bottom: 4px;
    @media (max-width: @screen-sm-min) {
        padding-top: 20px;
    }
}
div#searchForm p {
    margin-bottom:0;
}
.adv_search_links a {
    margin-right: 10px;
}

/*Mini search toggle*/
.mini-search-off {
    display: none;
}
.btn.mini-box-toggle,
.mini-search-on .btn-link,
.mini-search-off .btn-link {
    padding: 6px 4px;
}
#alphaBrowseForm .fa-sort-alpha-asc {
    font-size: @font-size-base + 6;
}

.mini-search .input-clear {
    position: absolute;
    cursor: pointer;
    font-size: @clear-input-size;
    color: lighten(@gray-light, 10%);
    margin-left: -@form-control-padding - 3;
    margin-top: (@input-height-base / 2) - (@clear-input-size / 2);
    @media (max-width: @screen-sm-min) {
        display: none;
    }
}

/*Forms*/
#searchtabinfolink {
    outline: none;
}
.popover {
    width: 300px !important;
}
.popover-content {
    color: black;
    a {
        position: relative;
        z-index: 1;
    }
}
#homepageNavTabs {
    li > a {
        border: 1px solid #cccccc;
        background-color: #dddddd;
        border-bottom: 1px solid #dddddd;
        color: #5c5c5c;
    }
    li > a:hover {
        text-decoration: underline;
    }
    li.active {
        a {
            background-color: #eeeeee;
            border-color: #cccccc;
            border-bottom: 1px solid #eeeeee;
            color: #650000;
        }
    }
    .which-search-links {
        position: relative;
        top: 11px;
        a {
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: #155f83;
            display: inline;
            margin-right: 0;
            padding: 0 0 0 10px;
        }
    }
}
#homepageNavContent {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-top: none;
    margin-bottom: @line-height-computed;
    padding: 15px;
    .well {
        box-shadow: none;
    }
    legend {
        border-color: #ccc;
    }
}
#about-beta {
    clear: left; 
    color:#787878;
    display: block; 
    margin-top: -13px;
    line-height: @line-height-computed - .3;
    a {
        color: inherit;
    }
    li { 
        list-style-type: square;
    }
    p {
        font-family: ProximaNova-Regular;
        font-size: @font-size-base; 
        margin-bottom: 50px; 
        padding: 0 5px;
    }
    /*ul { 
        font-family: ProximaNova-Regular; 
        font-size: 16px; 
        margin-bottom: 50px; 
    }*/
}
#advSearchForm.advancedSearch {
    .well {
        background-color: rgb(221, 221, 221);
        border-color: #ccc;
    }
}
#advSearchForm.basicSearch {
    text-align: center;
    .well {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
    }
}
#alphaBrowseForm {
    text-align: center;
    .well {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
    }
}
header #alphaBrowseForm {
    text-align: left;
}
.form-inline .input-large {
    width: 50%;
    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}
#basicAdvancedSearchSwitches {
    margin-top: -5px;
    a.disabled {
        color: #5c5c5c;
    }
}
.search {
  margin-bottom: 4px;
  @media (max-width: @screen-xs-max) {
    input[type="text"] {
      margin-bottom: 4px;
    }
  }
  @media (min-width: @screen-sm) {
    input[type="text"] {
      margin-right: 4px;
    }
    select {
      margin-right: 4px;
    }
  }
}
.template-name-advanced > .container {
    padding-left: 75px;
    padding-right: 75px;
    @media (max-width: @screen-sm) {
        padding-left: @padding-small-horizontal;
        padding-right: @padding-small-horizontal;
    }
}
.group .form-group {
  position: relative;
}
.form-group .close {
  position: absolute;
  right: -14px;
  top: -16px;
}
#groupJoin {
  margin-bottom: @line-height-computed;
}
.searchPlaceHolder a {
    color: #5c5c5c;
}
.basicSearch {
    #groupJoin, .search_bool, .search .delete, #group0Holder, .searchPlaceHolder, #groupPlaceHolder, .advancedSearchBtn, #advSearchLimits, #publishDate {
        display: none;
    }
}
#advSearchP a {
    color: #5c5c5c;
}
.advancedSearch {
    .basicSearchBtn, #advSearchP {
        display: none;
    }
}
#groupPlaceHolder {
  margin-top: -16px;
  margin-bottom: 20px;
  a {
    color: #5c5c5c;
  }
}
#limit_language,
#limit_format,
#limit_building,
#limit_collection {
  margin-bottom: @line-height-computed;
}
#advSearchForm input.btn-primary {
}
#searchForm .form_control {
    width:200px;
}
#limit_language,
#limit_format,
#limit_building,
#limit_collection {
    width: 100%;
}
#publishDatefrom {
    @media (max-width: @screen-xs-max) {
        margin-bottom: 4px;
    }
}
.navbar .checkbox {
    color:#111 !important;
}
/* JEJ commented this out on 1/29/2015.
   Bootstrap checkboxes get a negative margin and absolute position
by default. It seems like some of the VuFind markup is different
from what's done in Bootstrap, and adjustments like this one pop 
up. I'm seeing what will happen if I go back to the stock Bootstrap
CSS rule and adjust the HTML markup to match Bootstrap's style.
(Specifically, I'm doing this for the facets in 'edit this advanced
search.)
.checkbox input[type="checkbox"] {
    @media (min-width: @container-desktop) {
        margin: 0; 
    }
}
*/
.mini-search a.btn-link {
    color:@light-link;
    //font-size:@tiny;
    .tiny-text-shadow();
    @media (max-width: @screen-xs-max) {
        color: @link-color !important;
        width: auto !important;
        text-shadow: none;
    }
}
#searchForm .twitter-typeahead,
#searchForm_type.form-control,
#alphaBrowseForm .twitter-typeahead,
#alphaBrowseForm_source.form-control{
    margin-right:@form-control-padding;
    @media (max-width: @screen-xs-max) {
        margin:0 0 10px 0; 
    }
}
#alphaBrowseForm label {
    margin-right:5px;
} 
#searchForm_lookfor.form-control {
    @media (min-width: @container-desktop) {
        width:250px;
    }
}
.form-vertical .form-control {
    max-width: 100%;
}

.modal-body.in[style="padding-right: 0px;"] { /*Put "padding" back that twitter bootstrap removes via inline styles (bugfix for modal windows)*/
    margin-right: @modal-inner-padding;
}
.modal-body.in[style="padding-left: 0px;"] { /*Put "padding" back that twitter bootstrap removes via inline styles (bugfix for modal windows)*/
    margin-left: @modal-inner-padding;
}

/*Footer*/
footer .container {
    background:@brand-primary-dark;
    padding-top:@grid-gutter-width / 1.5; 
    padding-bottom:@grid-gutter-width / 1.5;
}

footer hr {
    display:none;
}

footer a,
footer a:hover,
footer a:focus {
    color:@light-link;
}

#uc_logo {
    background:url("../../images/uc_logo.png") no-repeat scroll left center transparent;
    width:141px;
    height:30px;
}

#uc_logo a {
    display: block;
    width: 141px;
    height: 30px;
    overflow:hidden;
    text-indent: 100%;
    white-space: nowrap;
}

footer .text-right {
    color:@light-link;
}

.attention {
    padding:15px;
    background:#3c0000;
    background:#FFB547;
    color:@brand-primary-dark;
    line-height:17px;
    border-bottom:2px solid #3c0000;
    margin-top:25px;
    margin-bottom:-@container-padding-btm;
}
.attn-ex {
}
.attention .hr {
    border-top:1px dashed @brand-primary-dark;
    padding-bottom:0;
    margin-bottom:0;
    height:8px;
}
.attention a {
    color:#0F425C;
    text-decoration:underline;
}
.attention p {
    padding-bottom:8px;
    margin-bottom:0;
}


// Buttons
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: @light-link;
    background-color: @brand-primary-dark;
    *background-color: #4a0000;
    border-color:@brand-primary-dark;
    background-image:none;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #300000 \9;
    background-image:none;
}

.btn-primary {
    #gradient.vertical(@btn-primary-bg, @brand-primary-dark);
    @media (max-width: @screen-xs-max) {
        #gradient.vertical(lighten(@gray-lighter, 5%), lighten(@gray-light, 10%));
        border:1px solid lighten(@gray-light, 5%);
        color:@gray-dark;
    }
}
.btn-primary:hover, 
.btn-primary:active {    
    @media (max-width: @screen-xs-max) {
        #gradient.vertical(lighten(@gray-lighter, 0%), lighten(@gray-light, 5%));
        border:1px solid lighten(@gray-light, 10%);
        color:@gray-dark;
    }
}
.mini-search > .btn {
    @media (max-width: @screen-xs-max) {
        width:100%;
    }
}

.offscreen {
    left: -2000px;
    position: absolute;
}

/* Typeogrophy*/
h1 {
    .text-shadow();
}

/* Tables */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-computed;
  // Captions
  > caption {
        margin-left: -1000px; // These lines are for 
        margin-bottom: -20px; // hiding the hideous 
        caption-side: bottom; // table captions 
        padding: 0;
  }
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-top: 1px dashed @table-border-color;
      }
    }
  }
  // Field labels
  > tbody {
    > tr {
      > th {
        color: #666;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  // Nesting
  .table {
    background-color: @body-bg;
  }
}

// Full Record 
div[resource="#record"] .table {
  width: auto;
  max-width: auto;
  > tbody {
    > tr {
      > th {
        width:@record-th-width;
        max-width:@record-th-width;
      }    
    }
    > tr {
      > td {
        width: 100% - @record-th-width;
        max-width: 100% - @record-th-width;
      }
    }   
  }  
}
div[resource="#record"] #top-hidden.table {
  width: 100%;
} 

.table:not(#top-hidden) > tbody > tr:first-child > td {
    border-top:none;
}
.pager-phoenix {
    padding:@nav-link-padding;
    padding-top:0;
    padding-bottom:0;
} 
.pager-phoenix li {
    display: inline;
    list-style: none;
}
.bibToggle {
    margin: 20px 0 20px 5px;
    //background: #f9f9f9;
    background: lighten(@gray-base, 94%);
    border: 1px solid lighten(@gray-base, 89%);    
    //color: lighten(@gray-base, 60%);
    color: @link-color;
    padding: 8px;
    text-align: center;
}
.bibToggle:hover {
    background: lighten(@gray-base, 90%);
}
a.bibToggle:focus,
a.bibToggle:hover {
    color: darken(@link-color, 12%);
    border: 1px solid lighten(@gray-base, 85%);    
    text-decoration: none;
}
.template-dir-record table:not(#top-hidden){
    margin-bottom: 0;
}
.itemsToggle,
.summaryToggle,
.bibToggle {
    font-weight: bold;
    font-size: @font-size-base + 1;
    display: block;
}
.itemsToggle,
.itemsToggle:active, 
.itemsToggle:focus, 
.summaryToggle,
.summaryToggle:active, 
.summaryToggle:focus {
    outline: 0;
}
/*Top of full record*/
div[resource="#record"] .table > tbody > tr.title > td {
    padding-bottom:0;
    padding-top:0;
}

/* Sidebar */
.bookplate {
    margin-top:25px;
}
.bookplate:first-child {
    margin-top: 0;
}
#bookplates {
    margin-bottom:25px;
}
.bookplateTitle {
    line-height:normal;
    margin-top:5px;
}
.sidebar {
    margin-top:14px;
}

/* Full Record */
#record .recordcover {
    margin: 8px 0 10px 0;
    @media (min-width: @screen-md) { 
        margin-top:47px;
    }
}
#record-tabs h3 {
    display: inline;
}
.maplink,
.ablink {
    font-size: ceil((@font-size-base * 0.88)); // ~10.5px
}
#holdings-tab h3 {
    margin-bottom: 0;
}
#holdings-tab table {
    margin: 0;
    background: transparent;    
}
#holdings-tab table th,
#holdings-tab table tr,
#holdings-tab table td {
    border: none;
    vertical-align: top;
}
#holdings-tab table th {
    padding-right: 15px;
    //text-align: right;
    color: @gray;
}
tr[typeof="Offer"] th,
#holdings-tab .holdings-table th {
    //max-width: 175px;
    width: 155px;
}
#holdings-tab table.holdings-table {
    margin-top: 10px;
}
#holdings-tab table tr.section td:last-child {
    padding-bottom:15px;
}
#holdings-tab table tr,
#holdings-tab table td,
#holdings-tab table th  {
    padding-top: 0px;
    padding-bottom: 0px;
}
#record-tabs > div {
    margin-top: 10px;
}
.holdings-unit {
    padding: 20px 10px 20px 10px;
    //line-height: 15px;
    border-bottom:1px dashed @table-border-color;
}
.holdings-unit:nth-child(even) {
    background:@table-bg;
}
.holdings-unit:last-child {
    border-bottom: none;
}
.service {
    margin: 0 10px;
}
.main .nav-pills,
.bulkActionButtons {
    border-top:1px dashed @table-border-color;
    border-bottom:1px dashed @table-border-color;
}
.template-name-view .title h1 {
    font-family: @font-family-sans-serif;
    font-weight: normal;
}
.template-name-view {
    h4 {
        font-family: @font-family-base;
        font-weight: bold;
        display: inline;
    }
    span {
        font-weight: normal;
    }
}
.template-name-view h4 span {
    font-family: "ProximaNova-Regular";
    color: @gray;
}
#holdings-tab h3,
#holdings-tab h4 {
    line-height: 17px;
}  

.maplink .service {
    margin-left: 0;
}
.template-dir-record.template-name-view {
    > .container {
        > .nav.nav-pills {
            padding: 10px 0;
            > li {
                > a {
                    padding: 3px 5px;
                    @media (min-width: @screen-sm-min) {
                        padding: 0 15px;
                    }
                }
            }
        }
    }  
}

/*Alphabrowse*/
.pager {
    text-align: left;
}
.template-dir-alphabrowse.template-name-home {
    footer {
        margin-left: -15px;
        margin-bottom: -15px;
        margin-top: 15px; 
    }
}

/*All browse pages*/
table.alphabrowse {
    tr {
        th.titles {
            text-indent: -9999px;
            line-height: 0;
            @media (min-width: @screen-sm-min) {
                text-indent: 0;
                line-height: normal;
            }
        }
        th.titles:after {
            text-indent: 0;
            display: block;
            line-height: normal;
            content: '#';
            @media (min-width: @screen-sm-min) {
                content: '';
            }
        }
        td {
            padding: 6px 8px;
        }
    }
}

/*Title browse*/
.title-browse {
    tr {
        th:nth-child(2),
        td:nth-child(2) {
            width: 25%;
        }
        th:nth-child(3),
        td:nth-child(3) {
            width: 0;
            display: none;
            @media (min-width: @screen-sm-min) {
                width: auto;
                display: table-cell;    
            }
        }
        .title {
            width: 45%;    
        }
        th:nth-child(4) {
            text-indent: -9999px;
            line-height: 0;
            @media (min-width: @screen-md-min) {
                text-indent: 0;
                line-height: normal;
            }
        }
        th:nth-child(4):after {
            text-indent: 0;
            display: block;
            line-height: normal;
            content: 'Year';
            @media (min-width: @screen-md-min) {
                content: '';
            }
        }
    }
}

/*Author browse*/
.author-browse {
    tr {
        th.titles, 
        td.titles {
            width: 50px;
            @media (min-width: @screen-sm-min) {
                width: 10%;
            }
        }
        td.author {
            div {
                padding-left: 20px;;
                ul, ul li {
                    display: inline;
                    list-style: none;
                    padding-left: 0;
                }
            }
        }
    }
} 

/*Results*/
.result:nth-child(odd) {
    background:@table-bg;
}
.result {
    margin-top: @vertical-padding-div;
    margin-bottom: @vertical-padding-div;
    padding: @vertical-padding-div @horizontal-padding-div;
    @media (max-width: @screen-xs-max) {
        margin-top: @vertical-padding-div / 2;
        margin-bottom: @vertical-padding-div / 2;
        padding: ceil(@vertical-padding-div / 2) ceil(@horizontal-padding-div / 2);       
    }
}
.result a.title {
    font-size: ceil((@font-size-base * 1.2)); // ~15px 
    font-weight: normal !important;
    line-height: normal;
    .text-shadow();
}
.bulkActionButtons .checkbox {
    padding:@nav-link-padding;
    padding-right: 0;
    @media (max-width: @screen-xs-max) {
        padding: 0;
    }
}
.bulkActionButtons #updateCart {
    margin-left:0;
    padding-left:0;
}
.bulkActionButtons label input {
    margin-top:0;
} 
.search-controls {
    margin: @vertical-padding-div 0;
}
.search-controls .col-sm-6:first-child {
    padding-top: (((@input-height-base + @input-border-radius) / 2) - (@font-size-base * 2)); // Vertically center text in relation to from element to the left
    line-height: normal;
}
.template-name-results .row.result {
    margin-left: 0; //Override: default vufind puts this at -15px/
}
.search-controls form {
    display: inline;
}
.search-controls form:not(:first-of-type) {
    margin-left: 15px;
}
.brief-view .callnumAndLocation {
    margin-top: 0;
}
.brief-view .result {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.template-name-results > .container > .row {
    margin-top: -10px;
}
.template-name-results .callnumber {
    font-size: @font-size-base + 1;
}
.list-group.facet > li:first-child,
.list-group.filters > li:first-child{
    //background-color: @gray-lighter; 
    background-color: @table-bg;
}
.template-dir-search.template-name-results {
    .iconlabel {
       display: block; 
    }
}


/*MyResearch*/
.template-dir-myresearch.template-name-checkedout .table tr > th:first-child {
    width: 5.5%;
}
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(2),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(4),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(5),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(6),
.template-dir-myresearch.template-name-checkedout .table tr > th:nth-child(7) {
    width: 11%;
}

.template-dir-myresearch.template-name-profile .table tr > th:first-child {
    width:22%;
}
.holdings-info:first-child:before {
    content: "";
}
.holdings-info:before {
    content: " | ";
    font-weight: normal;
}
.callnumAndLocation {
    margin-top:@vertical-padding-div;
}
.iconlabel {
    font-weight: bold;
    color: lighten(@gray, 10%);
    font-size: @font-size-base - 1.5;
}
.col-xs-0.right.text-right.hidden-print.hidden-xs { // Right txt (formats and save a record) 
    line-height: @line-height-base - .1;
}
.custom-marc-record {
    line-height: @line-height-base * 1.05;
}
/* Trying to improve the bookcover column on results pages*/
/*
.template-name-results .col-sm-9 .row > .col-sm-2,
.template-name-results .col-sm-9 form .col-xs-11,
.template-name-results .col-sm-9 form .col-xs-11 .row  {
    margin-left:0;
    padding-left:0;
}
.template-name-results .col-sm-9 form .col-xs-1 {
    margin-right:0;
    padding-right:0; 
}*/

.callnumAndLocation {
    margin-bottom: 10px;
}
.authmethod1 {
    margin-top: 15px;
}
#authcontainer [class^="col"],
#login-txt[class^="col"],
#login-toggle[class^="col"]{
    float:none !important;
}
.login-toggle-wrapper {
    padding-bottom:15px;
}
#login-toggle {
    padding-left:0;
}
#login-toggle:after {
    font-family: FontAwesome;
    content: " \f101";
}
.login-toggle-content {
    display: none;
}
#renewals > .toolbar {
    margin-bottom: 13px;
} 

/*Sidebar*/
/* JEJ changed on 1/29/2015.
   .list-group-item is a bootstrap class that gets used in lots of
different contexts- for <li>'s and <a>'s. It seems like some of the
HTML markup in VuFind wasn't done in the Bootstrap style, so I'm
removing the padding here and adjusting the markup. (Specifically,
I'm doing the facets in "edit this advanced search" right now.) 
*/
.facet .list-group-item {
    padding: 8px 13px;
}
.list-group-item > .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.list-group-item .fa-times {
    padding-left: 20px;
}
.slider-container {
  margin-top: 8px;
  .slider {
    .slider-track {
      background:#e0e0e0;
      box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.1);
      .slider-handle {
        background:#bbbbbb;
        background-image:none;
        border-color:#AAA;
        border-radius:3px;
        box-shadow:none;
        opacity:.9;
        &:hover,&:active,&:focus {
          opacity:1;
          background:#DDD;
        }
      }
      .slider-selection {
        background:transparent;
        box-shadow:inherit;
      }
    }
  }
}


/*E-resource links*/
.findit {
    margin: 3px 0;
}
a.tool:hover {
    text-decoration:none;
}
a.tool span {
    z-index:10;
    display:none;
    padding:8px;
    margin:-15px 0 0 10px;
}
a.tool:hover span {
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid @gray-light;
    background:@gray-lighter;
}
a.tool span {
    border-radius:4px;
    box-shadow: 5px 5px 8px @gray-lighter;
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid @gray-light;
    display: none; 
}
a.tool:hover .arrow-left {
    display: inline-block;
    position:absolute;
    margin-left: 3px;
}

/* --- Search --- */
.result {
  a.title {font-weight:bold}
  .left {
    text-align:center;
    padding:0;
    img {max-width:70px;}
  }
  .middle {
    padding:0;
  }
  /*@media (min-width:991px) {
    .middle {padding:0;}
    .left {padding:0;}
  }*/
  @media (max-width:767px) {
    a {text-decoration:underline}
    .middle,.right {padding:0}
  }
  @media (max-width:530px) {
    .checkbox {display: none !important;}
    .left {width:30%}
    .middle {width:70%}
    .right {display:none}
  }
}
.result .middle {
    @media (max-width: @screen-xs-max) {
        width:100%;
    }
}
/*MyAccount*/
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(1) {
    width: 5%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(2) {
    width: 10%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(3) {
    width: 30%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(4) {
    width: 20%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(5) {
    width: 12.5%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(6) {
    width: 12.5%;
}
.template-dir-myresearch.template-name-checkedout table.table th:nth-child(7) {
    width: 10%;
}

/*Admin/Pin*/
.template-dir-admin.template-name-pin {
    table {
        background-color: transparent;
        width: 100%;
        td, th {
            padding: 4px 10px 4px 5px;
        }
        tbody tr:nth-child(2n) td {
            background-color: #e5ecf9;
        }
    }
}
