/*
/ Results Page
*/
.search-header {
	padding-top: 1em;
}

.result + .result {
    border-top: 1px dotted #eee;
}

.result:nth-child(2n+1) {
    background: #f9f9f9;
    margin-left: -15px;
    .record-checkbox {
    	padding-left: 15px;
    }
}

.result-body {
	.callnumAndLocation {
		font-size: 1rem;
		margin-top: 0.75em;
		.callnumber {
			font-size: 1.1rem;
			font-weight: 600;
		}
	}
}

.result-formats { // media badge wrapper
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	@media (min-width: 768px) {
		display: grid;
		width: 130%;
		justify-content: flex-end;
		position: relative;
		padding-bottom: 0;
	}
}

.result-formats .format { //media type badges in record summary
	color: #5e5e5e;
	font-weight: 400;
	padding: 0 0.5em 0 0;
	background-color: transparent;
	@media (min-width: 768px) {
		position: relative;
		bottom: 20px;
		text-align: right;
		padding: 2px 0;
	}
}

.status {
	@media (min-width: 768px) {
	    position: absolute;
	    left: 0;
	    margin: 0.35em 0;
	}
    .label {
		font-weight: 400;
		padding-left: 0;
		&.label-danger {
			font-size: 1rem;
			color: #a41915;
		    background-color: transparent;
		}
		&.label-success {
			font-size: 1.1rem;
			color: #016801;
		    background-color: transparent;
		}
	}
}

.result-links.hidden-print {
    padding-bottom: 1em;
}

.result-link-icon.fa-star {
	display: none;
}

.highlight, mark {
  background-color: rgba(148,187,233,.3);
}

.active-filters {
	margin-top: 10px;
	margin-bottom: -15px;
	a {
		color: #fff;
	}
	.filters-title {
		color: #fff;
		font-weight: 600;
		padding-left: 15px;
	}
	.facet, .filters .filter-value {
		font-size: 1rem;
		font-weight: 400;
	    background-color: transparent;
	}
}


.facet {
    font-size: 0.95rem;
}

.facet-group {
	a {
		text-decoration: none;
	}
	.fa.fa-square-o {
	    color: #575757;
	}
	button.title {
	    background-color: #f9f9f9;
	}
	.active {
		background-color: #107180;
	}
}

.badge {
	font-weight: 400;
	background-color: rgba(148,187,233,.3);
	color: black;
	text-decoration: none;
}

/*
/ Record Holdings
*/
.tab-content {
	h3 {
		background: #d0d2b4;
		padding: 0.5em 0.5em 0.25em 0.5em;
		margin-bottom: 0;
	}
	table {
		table-layout: unset;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		th {
			width: 15%;
			border-top: none!important;
		}
		td {
			border-top: none!important;
		}
	}
	// Call number and issue rows
	tr {
		&:first-of-type {
			background: #d0d2b4!important;
			border-top: none!important;
			td {
				font-size: 1.1rem;
			}
		}
		// &:nth-of-type(2) {
		// 	background: #f3f3ec!important;
		// 	border-bottom: 10px solid transparent;
		// 	th {
		// 		padding-bottom: 0;
		// 		border-top: none;
		// 	}
		// 	td {
		// 		border-top: none;
		// 	}
		// }
		span {
			display: block;
		}
	}
}