# GNU Emacs temporary files
\#*
.\#*
*~
# Vim temporary files
.*.sw[po]

.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/downloads
/Gruntfile.local.js
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules
public/swagger-ui
local/config/vufind/*.ini
local/config/vufind/*.json
local/config/vufind/*.yaml

### UChicago changes ###
nohup.out
*.orig
*.swp
*.htaccess
public/shibtest
phing.sh
local/config/vufind
themes/bootprint3/css/compiled.css
themes/bootstrap3/css/compiled.css
themes/local_theme_example/css/compiled.css
themes/sandal/css/compiled.css
local/import/index_java/bin/org/solrmarc/index/
public/printenv.php
public/printenvoidc.php
